# Django #
*.pyc
__pycache__
# db.sqlite3
media
migrations
# manage.py


# Environments 
.env 
env/ 
__pycache__/


# macOS #
.DS_Store

# folders and other personnal stuff #
specs/
projet10.code-workspace



